<footer class="py-5 fixed-bottom text-center text-body-secondary bg-body-tertiary">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md">
        <h5>Products</h5>
      </div>
      <div class="col-6 col-md">
        <h5>Information</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Store information</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">
        <h5>Fetures</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" href="#">Cool stuff</a></li>
        </ul>
      </div>
    </div>
</div>

</footer>